*{
    margin: 0;
    padding: 0;
    /*!!!!!! 聯絡我們 !!!!!! */
}


@media screen and (min-width:768px) 
{
    .map .wrap
    {
    margin: 5% 10% 0;
    display: flex;
    }
    .map .wrap h3
    {
        font-size: 30px;
        margin: 30% 0 0 30px ;
    }
    .map .wrap p
    {
        font-size: 20px;
        margin: 30px;
    }    
}

.input-group 
{
    width: 50%;
    margin:30px  auto;
}


















