*{
    margin: 0;
    padding: 0;
}


    /*!!!!!! 公司簡介 !!!!!!  */
    .introduction
    {
     
    }
    .introduction .pic img
    {
       
        width: 100%;
    }
    .introduction .text p
    {
        margin: 20px;
        font-size: 30px;
    }

    


