*{
    margin: 0;
    padding: 0;
}
/*銘昌行地址*/
.footer
{
width: 100%;
background-color: rgba(248, 248, 255, 0.938);
color:black;
vertical-align: bottom;
text-align: center;
padding: 10px;
}
.footer font
{margin: 10px;}